{% extends "base.html" %}
{% block content %}
 
 <!-- Content -->
 <div id="wrapper">
 
  <div id="hero-left" style="background-image: url( {{url_for('static', filename='img/americano.jpg') }} )">
    <div class="header text-shadow">
      <h1>{{ americano.name[0] }}</h1>
    </div>
  </div>
  
  <div id="content">
     <div class="description">
	 <p>{{ americano.description[0] }}</p>
	 </div>
	 </br></br>
	 <div class="calories">
	 <p>{{ americano.calories[0] }} Calories</p>
	 </div>
  </div>
  
 {% endblock %}