{% extends "base.html" %}
{% block content %}
 
 <!-- Content -->
 <div id="wrapper">
 
  <div id="hero-left" style="background-image: url( {{url_for('static', filename='img/cappuccino.jpg') }} )">
    <div class="header text-shadow">
	  <!-- JSON Array -->
      <h1>{{ cappuccino.name[2] }}</h1>
    </div>
  </div>
  
  <div id="content">
     <div class="description">
	 <p>{{ cappuccino.description[2] }}</p>
	 </div>
	 </br></br>
	 <div class="calories">
	 <p>{{ cappuccino.calories[2] }} Calories</p>
	 </div>
  </div>
  
 {% endblock %}