{% extends "base.html" %}
{% block content %}
 
 <!-- Content -->
 <div id="wrapper">
 
  <div id="hero-page" style="background-image: url( {{url_for('static', filename='img/coffee-beans.jpg') }} )">
    <div class="header text-shadow">
      <h1> Coffee Drinks </h1>
    </div>
  </div>
  
  <div id="content">
  
  	<!-- Categories -->
	<h2> Choose Your Coffee </h2>
	   <div class="categories-link"><a href="/drinks/espresso-catalogue">ESPRESSO</a></div>
	   <div class="categories-link"><a href="/drinks/americano-catalogue">AMERICANO</a></div>
	   <div class="categories-link"><a href="/drinks/cappuccion-catalogue">CAPPUCCINO</a></div>
	   <div class="categories-link"><a href="/drinks/latte-catalogue">LATTE</a></div>
	   <div class="categories-link"><a href="/drinks/macchiato-catalogue">MACCHIATO</a></div>
	 </br></br>
	   <div class="categories-link"><a href="/drinks/tea">TEAS</a></div>
	   <div class="categories-link"><a href="/drinks/under200cal">UNDER 200 CALORIES</a></div>
	   <div class="categories-link"><a href="/drinks/seasonal">SEASONAL</a></div>
	 </br></br>

  <div class="centered">
    
	<h2> All Drinks </h2>
	
    <section class="cards">
	  
	  <!-- Card 1 -->
      <article class="card">
        <a href="/drinks/caffe-latte">
          <figure>
          <img src="{{ url_for('static', filename='img/caffe-latte.jpg')}}" alt="latte">
          </figure>
          <div class="card-content">
            <h2>Caffè Latte</h2>
            <p>A rich espresso is balanced with steamed milk and topped with a light layer of foam</p>
          </div>
        </a>
      </article>
	  
	  <!-- Card 2 -->
      <article class="card">
        <a href="/drinks/flat-white">
          <figure>
            <img src="{{ url_for('static', filename='img/flat-white.jpg')}}" alt="flat-white">
          </figure>
          <div class="card-content">
            <h2>Flat White</h2>
            <p>Steamed milk poured over two shots of espresso</p>
          </div>
        </a>
      </article>
	  
	  <!-- Card 3 -->
      <article class="card">
        <a href="/drinks/americano">
          <figure>
          <img src="{{ url_for('static', filename='img/americano.jpg')}}" alt="americano">
          </figure>
          <div class="card-content">
            <h2>Americano</h2>
            <p>Espresso shots are topped with hot water to produce a light layer of crema. The result is this wonderfully rich cup with depth and nuance</p>
          </div>
        </a>
      </article>

	  <!-- Card 4 -->
      <article class="card">
        <a href="/drinks/caramel-macchiato">
          <figure>
          <img src="{{ url_for('static', filename='img/caramel-macchiato.jpg')}}" alt="caramel-macchiato">
          </figure>
          <div class="card-content">
            <h2>Caramel Macchiato</h2>
            <p>A mix of vanilla flavour and steamed milk marked with espresso, topped with foam and caramel sauce</p>
          </div>
        </a>
      </article>

	  <!-- Card 5 -->
      <article class="card">
        <a href="/drinks/cappuccino">
          <figure>
          <img src="{{ url_for('static', filename='img/cappuccino.jpg')}}" alt="cappuccino">
          </figure>
          <div class="card-content">
            <h2>Cappuccino</h2>
            <p>Dark, rich espresso combined with steamed milk, topped with a deep layer of foam</p>
          </div>
        </a>
      </article>
      <!-- .card -->
	  
	  <!-- Card 6 -->
	  <article class="card">
        <a href="/drinks/espresso">
          <figure>
          <img src="{{ url_for('static', filename='img/espresso.jpg')}}" alt="espresso">
          </figure>
          <div class="card-content">
            <h2>Espresso</h2>
            <p>A shot of espresso with a rich flavour and caramel-like sweetness</p>
          </div>
        </a>
      </article>
	  
	  <!-- Card 7 -->
	  <article class="card">
        <a href="/drinks/espresso-macchiato">
          <figure>
          <img src="{{ url_for('static', filename='img/espresso_macchiato.jpg')}}" alt="espresso-macchiato">
          </figure>
          <div class="card-content">
            <h2>Espresso Macchiato</h2>
            <p>A caramelly-sweet shot of espresso marked with a small amount of foam</p>
          </div>
        </a>
      </article>
	  
	  <!-- Card 8 -->
	  <article class="card">
        <a href="/drinks/cortado">
          <figure>
          <img src="{{ url_for('static', filename='img/cortado-coffee.jpg')}}" alt="cortado">
          </figure>
          <div class="card-content">
            <h2>Cortado</h2>
            <p>Two ristretto shots topped with warm, silky milk served in a 6oz cup that gives you the needed coffee kick for your day</p>
          </div>
        </a>
      </article>
	  
	  <!-- Card 9 -->
	  <article class="card">
        <a href="/drinks/pumpkin-latte">
          <figure>
          <img src="{{ url_for('static', filename='img/pumpkin-latte.jpg')}}" alt="pumpkin-latte">
          </figure>
          <div class="card-content">
            <h2>Pumpkin Spice Latte</h2>
            <p>Warm up with this spiced pumpkin latte recipe, perfect for Halloween</p>
          </div>
        </a>
      </article>
	  
	  <!-- Card 10 -->
	  <article class="card">
        <a href="/drinks/gingerbread-latte">
          <figure>
          <img src="{{ url_for('static', filename='img/gingerbread-latte.jpg')}}" alt="gingerbread-latte">
          </figure>
          <div class="card-content">
            <h2>Gingerbread Latte</h2>
            <p>Espresso, infused with gingerbread syrup and creamy steamed milk, finished with gingerbread flavoured whipped cream and wafer crumbs</p>
          </div>
        </a>
      </article>
	  
	  <!-- Card 11 -->
	  <article class="card">
        <a href="/drinks/earl-grey">
          <figure>
          <img src="{{ url_for('static', filename='img/earl-grey.jpg')}}" alt="earl-grey">
          </figure>
          <div class="card-content">
            <h2>Earl Grey Tea</h2>
            <p>A bright blend of black tea, fragrant bergamot and soft lavender.</p>
          </div>
        </a>
      </article>
	  
	  <!-- Card 12 -->
	  <article class="card">
        <a href="/drinks/breakfast-tea">
          <figure>
          <img src="{{ url_for('static', filename='img/english-breakfast.jpg')}}" alt="english-breakfast">
          </figure>
          <div class="card-content">
            <h2>English Breakfast Tea</h2>
            <p>Full-bodied black tea with rich, malty undertones.</p>
          </div>
        </a>
      </article>

    </section>

  </div>
  
  </div>
  
 {% endblock %}