{% extends "base.html" %}
{% block content %}
 
 <!-- Content -->
 <div id="wrapper">
 
  <div id="hero-left" style="background-image: url( {{url_for('static', filename='img/earl-grey.jpg') }} )">
    <div class="header text-shadow">
      <h1>{{ earl_grey.name[10] }}</h1>
    </div>
  </div>
  
  <div id="content">
     <div class="description">
	 <p>{{ earl_grey.description[10] }}</p>
	 </div>
	 </br></br>
	 <div class="calories">
	 <p>{{ earl_grey.calories[10] }} Calories</p>
	 </div>
  </div>
  
 {% endblock %}