{% extends "base.html" %}
{% block content %}
 
 <!-- Content -->
 <div id="wrapper">
 
  <div id="hero-left" style="background-image: url( {{url_for('static', filename='img/flat-white.jpg') }} )">
    <div class="header text-shadow">
      <h1>{{ flat_white.name[7] }}</h1>
    </div>
  </div>
  
  <div id="content">
     <div class="description">
	 <p>{{ flat_white.description[7] }}</p>
	 </div>
	 </br></br>
	 <div class="calories">
	 <p>{{ flat_white.calories[7] }} Calories</p>
	 </div>
  </div>
  
 {% endblock %}