{% extends "base.html" %}
{% block content %}
 
 <!-- Content -->
 <div id="wrapper">
 
  <div id="hero-page" style="background-image: url( {{url_for('static', filename='img/coffee-beans.jpg') }} )">
    <div class="header text-shadow">
      <h1>Seasonal</h1>
    </div>
  </div>
  
  <div id="content">
  
  <!-- Card View -->
  <div class="centered">

    <section class="cards">
	
	  <!-- Card 1 -->
	  <article class="card">
        <a href="/drinks/seasonal/halloween">
          <figure>
          <img src="{{ url_for('static', filename='img/halloween-season.jpg')}}" alt="halloween-season">
          </figure>
          <div class="card-content">
            <h2>Halloween</h2>
          </div>
        </a>
      </article>
	  
	  <!-- Card 2 -->
	  <article class="card">
        <a href="/drinks/seasonal/christmas">
          <figure>
          <img src="{{ url_for('static', filename='img/christmas-season.jpg')}}" alt="christmas-season">
          </figure>
          <div class="card-content">
            <h2>Christmas</h2>
          </div>
        </a>
      </article>

    </section>

  </div>
  
  </div>
  
 {% endblock %}