{% extends "base.html" %}
{% block content %}
 
 <!-- Content -->
 <div id="wrapper">
 
  <div id="hero-page" style="background-image: url( {{url_for('static', filename='img/coffee-beans.jpg') }} )">
    <div class="header text-shadow">
      <h1> TEAS </h1>
    </div>
  </div>
  
  <div id="content">
  
  <!-- Card View -->
  <div class="centered">

    <section class="cards">
	  
	  <!-- Card 1 -->
	  <article class="card">
        <a href="/drinks/tea/earl-grey">
          <figure>
          <img src="{{ url_for('static', filename='img/earl-grey.jpg')}}" alt="earl-grey">
          </figure>
          <div class="card-content">
            <h2>Earl Grey Tea</h2>
            <p>A bright blend of black tea, fragrant bergamot and soft lavender.</p>
          </div>
        </a>
      </article>
	  
	  <!-- Card 2 -->
	  <article class="card">
        <a href="/drinks/tea/breakfast-tea">
          <figure>
          <img src="{{ url_for('static', filename='img/english-breakfast.jpg')}}" alt="english-breakfast">
          </figure>
          <div class="card-content">
            <h2>English Breakfast Tea</h2>
            <p>Full-bodied black tea with rich, malty undertones.</p>
          </div>
        </a>
      </article>

    </section>

  </div>
  
  </div>
  
 {% endblock %}