{% extends "base.html" %}
{% block content %}
	
<!-- Nav -->
	<div id="navbar" class="collapse navbar-collapse">
	 <ul class="nav navbar-nav">
		<li><a href="/home">Home</a></li>
		<li><a href="/coffee">Coffee</a></li>
		<li><a href="/about">About</a></li>
	 </ul>
	</div>
  </div>
 </nav>
 

 <!-- Content -->
 <div id="wrapper">
 
  <div id="hero" style="background-image: url( {{url_for('static', filename='img/coffee-background.jpg') }} )">
    <div class="header text-shadow">
      <h1> 404 </h1>
	  <h2> Sorry Something Went Wrong :( </h2>
    </div>
  </div>
  
 {% endblock %}