{% extends "base.html" %}
{% block content %}
 
 <!-- Nav -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed"
		data-toggle="collapse" data-target="#navbar" aria-expanded="false"
		aria-controls="navbar">
		
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Wanderlust</a>
	</div>
	
	<div id="navbar" class="collapse navbar-collapse">
	 <ul class="nav navbar-nav">
		<li><a href="/london">London</a></li>
		<li class="active"><a href="/berlin">Berlin</a></li>
		<li><a href="/paris">Paris</a></li>
		<li><a href="/rome">Rome</a></li>
		<li><a href="/amsterdam">Amsterdam</a></li>
		<li><a href="/prague">Prague</a></li>
	 </ul>
	</div>
  </div>
 </nav>
 
 <!-- Content -->
 
<div class= "container">
	<div class="jumbotron">
		<h1><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Berlin</h1>
		<p>The City of Freedom</p>
	</div>
	
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="thumbnail">
          <img src="{{ url_for('static', filename='img/berlin.jpg')}}">
        </div>
      </div>
 
 <!-- Table -->
 <div class="table-responsive">
	<table class="table">
	  <thead>
	    <tr>
	      <th>Month</th>
	      <th>Sales</th>
	    </tr>
	    </thead>
		
	    <tbody class="table-hover">
	      <tr scope="row">
	        <td><span class="glyphicon glyphicons-map" aria-hidden="true">Country</td>
	        <td>Germany</td>
	      </tr scope="row">
	      <tr>
	        <td><span class="glyphicon glyphicons-family" aria-hidden="true">Population</td>
	        <td>3.7 million</td>
	      </tr>
	      <tr scope="row">
	        <td><span class="glyphicon glyphicons-gender-ori-hetero" aria-hidden="true"></span>Gender Ratio (F/M)</td>
	        <td>21 / 20</td>
	      </tr>
	    </tbody>
	  </table>
 <div>
 
{% endblock %}